# IMPORTANT! Make sure to protect this file!
# Only the user running certbot should have read access.

# Log in to https://boatns.com/ and create a new API key.
# Replace <boatns-auth-secret> with the API key auth secret:
BOATNS_API_AUTH="<boatns-auth-secret>"

